
/* Document
   ========================================================================== */

   html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  body {
    margin: 0; /* Remove default margin */
  }
  
  main {
    display: block; /* Render the `main` element consistently */
  }
  
  h1 {
    font-size: 2em; /* Correct `h1` font size */
    margin: 0.67em 0; /* Correct `h1` margin */
  }
  
  /* Grouping content
     ========================================================================== */
  
  hr {
    box-sizing: content-box; /* Add the correct box sizing in Firefox */
    height: 0; /* Prevent `hr` from affecting layout */
    overflow: visible; /* Show overflow in Edge and IE */
  }
  
  pre {
    font-family: monospace, monospace; /* Use monospace font for `pre` */
    font-size: 1em; /* Correct `pre` font size */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  a {
    background-color: transparent; /* Remove gray background on active links in IE 10 */
  }
  
  abbr[title] {
    border-bottom: none; /* Remove bottom border for `abbr` */
    text-decoration: underline dotted; /* Correct text decoration for `abbr` */
  }
  
  b,
  strong {
    font-weight: bolder; /* Add correct font weight for `b` and `strong` */
  }
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* Use monospace font for `code`, `kbd`, `samp` */
    font-size
  