@media (min-width: 768px) {
  nav ul {
      display: flex;
      justify-content: space-around;
  }

  .card {
      display: inline-block;
      vertical-align: top;
  }

  .card:nth-of-type(1) {
      width: 66%;
  }

  .card:nth-of-type(2) {
      width: 33%;
  }
}
